streamlit
langchain==0.3.23
langchain-classic
langchain-community==0.3.21
langchain-google-genai
langchain-text-splitters
faiss-cpu
sentence-transformers
python-dotenv
pymupdf
rank_bm25
torch==2.0.1+cpu
torchvision==0.15.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu